.formDiv {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height: 100vh;
}
#postWidHeader{
    height:10vh;
}

#postWidMain{
    height:85vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

#postForm {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 2px 6px 2px lightgrey;
}

#postFormTitle {
    /* text-align: center; */
    color: #006238;
    font-size: 1.5rem;
    border-bottom: 1px solid #006238;
}

.postFormInput {
    /* height: 35px;
    width: 220px; */
    margin: 22px 0 0 70px;

    /* padding-right: 100px; */
    border-radius: 5px;
    font-size: 0.8rem;
    /* padding-left: 20px; */
}

#filebase64 {
    color: #006238;
    font-size: 1rem;
}

.postFormBtn {
    padding:0.4rem;
    width: 25%;
    border: 1px solid #006238;
    border-radius: 5px;
    font-size: 1rem;
    color: lightgray;
    background-color: #006238;
}


.postFormBtn:hover {
    color: white;
    background-color: crimson;
    border-color: crimson;
    font-weight: bold;
    cursor: pointer;
}

#formFooter {
    text-align: center;
    color: #F6F6F6;
    background-color: #006238;
    height: 4vh;
    padding-top: 8px;
}