#pageContainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

#postWidHeader {
    display: flex;
    height: 8vh;
    min-width: 100vw;
    justify-content: space-between;
    border-bottom: 2px solid #006238;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: crimson;
    padding: 0.75rem 3rem;
}

.fa-instagram {
    font-weight: 600;
    padding: 0 0.25rem 0 0;
}

.headerIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.85rem 1.75rem;
}

.camera {
    background-color: #F6F6F6;
    border: none;
    font-size: 1.75rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.headerIcons select {
    font-size: 1rem;
    border: none;
    padding: 0 0.25rem;
    margin: 0 0.5rem;
    border-radius: 0.35rem;
    box-shadow: 2px 2px 4px 1px lightgrey;
    cursor: pointer;
}

.headerIcons select:focus {
    outline: none;
}

#postWidMain {
    min-height: 86.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#postForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 2px 6px 2px lightgrey;
}

#postFormTitle {
    margin: 3rem 5rem 1.5rem 5rem;
    color: #006238;
    font-size: 1.5rem;
    border-bottom: 1px solid #006238;
}

.postFormInput {
    margin: 1rem 5rem;
    padding: 0.8rem 5rem 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.postFormInput:focus {
    border: none;
    outline: 2px dashed #006238;
}

#filebase64 {
    color: #006238;
    font-size: 1.5rem;
    margin: 1rem;
}

.postFormBtn {
    padding: 0.4rem;
    margin: 1rem;
    width: 25%;
    border: 1px solid #006238;
    border-radius: 5px;
    font-size: 1rem;
    color: lightgray;
    background-color: #006238;
}


.postFormBtn:hover {
    color: white;
    background-color: crimson;
    border-color: crimson;
    font-weight: bold;
    cursor: pointer;
}

#formFooter {
    text-align: center;
    color: #F6F6F6;
    background-color: #006238;
    height: 4vh;
    padding-top: 0.5rem;
    min-width: 100vw;
}