#pageContainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

#innerContainer {
    display: flex;
    width: 70vw;
    min-height: 80vh;
    box-shadow: 2px 2px 6px 2px lightgrey;
    border-radius: 1rem;
    background-color: floralwhite;
}

#innerContainer img {
    width: 35vw;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

#loginTitle {
    color: #006238;
    font-size: 1.5rem;
    text-align: center;
    text-decoration-line: underline;
    margin: 4rem 0 4rem 0;
}

.loginRightDiv {
    width: 35vw;
    min-height: 80vh;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    font-size: 1rem;
    color: seagreen;
}

#loginForm input {
    padding: 1rem;
    margin: 0 4rem 2rem 4rem;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: floralwhite;
}

#loginForm input:focus {
    border: none;
    outline: #006238 solid 2px;
}

.loginFormBtn {
    padding: 0.5rem;
    margin: 0 40% 1rem 40%;
    width: 5rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    justify-content: center;
}

.loginFormBtn:hover {
    cursor: pointer;
    background-color: #006238;
    border: 1px solid #006238;
    font-weight: bold;
}

#navSectionLog {
    margin-left: 3rem;
    padding: 1rem;
}

.formBtn {
    color: seagreen;
    border: none;
    background-color: floralwhite;
    font-size: medium;
}

.formBtn:hover {
    cursor: pointer;
    color: #006238;
    text-decoration-line: underline;
}

.errContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.errBox {
    border-radius: 1rem;
    color: red;
    background-color: lavenderblush;
    /* position: absolute; */
    /* left: 30%; */
    padding: 4rem 8rem;
}

.errBox button {
    margin: 1rem 5rem;
    padding: 5px 10px;
    border-radius: 0.35rem;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.25em;
}

.errBox button:hover {
    cursor: pointer;
    background-color: royalblue;
}