#pageContainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    display: flex;
    margin: auto;
}

#innerContainer {
    display: flex;
    width: 70vw;
    min-height: 80vh;
    box-shadow: 2px 2px 6px 2px lightgrey;
    border-radius: 2rem;
    background-color: floralwhite;
}

#innerContainer img {
    width: 35vw;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

#loginTitle {
    color: #006238;
    font-size: 2rem;
    text-align: center;
    /* text-decoration-line: underline; */
    margin: 4rem 0 4rem 0;    
}

.loginRightDiv {
    width: 35vw;
    min-height: 80vh;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    padding: 10px;
    margin-left: 50px;
    font-size: large;
    color: seagreen;
}

#loginForm input {
    padding: 15px;
    margin: 0 60px 20px 60px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: floralwhite;
}

#loginForm input:focus {
    border: none;
    outline: #006238 solid 2px;
}

.login-form-btn {
    padding: 8px;
    margin: 20px 190px;
    width: 100px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    justify-content: center;
    letter-spacing: 0.1rem;
}

.loginFormBtn:hover {
    cursor: pointer;
    background-color: #006238;
    border: 1px solid #006238;
    font-weight: bold;
}

/* #navSectionLog {
    padding: 50px 0 0 110px;
    font-size: 18px;
} */
#navSectionLog {
    margin-left: 3rem;
    padding: 1rem;
}

.formBtn {
    color: seagreen;
    border: none;
    background-color: floralwhite;
    font-size: large;
    letter-spacing: 0.1rem;
}

.formBtn:hover {
    cursor: pointer;
    color: #006238;
    text-decoration-line: underline;
}

.errContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.errBox {
    border-radius: 5px;
    color: red;
    background-color: lavenderblush;
    position: absolute;
    left: 30%;
    padding: 70px 150px;
}

.errBox button {
    margin: 15px 90px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.25em;
}

.errBox button:hover {
    cursor: pointer;
    background-color: royalblue;
}