#pageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

#innerContainerReg {
    display: flex;
    width: 70vw;
    height: 90vh;
    box-shadow: 2px 2px 6px 2px lightgrey;
    border-radius: 15px;
    background-color: floralwhite;
    margin: 3vh 15vw;
}

#innerContainerReg img {
    width: 35vw;
    height: 90vh;
    border-radius: 15px 0 0 15px;
}

#register-title {
    color: #006238;
    font-size: xx-large;
    text-align: center;
    text-decoration-line: underline;
}

.register-right-div {
    width: 35vw;
    height: 80vh;
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form label {
    padding: 10px;
    margin-left: 50px;
    font-size: large;
    color: seagreen;
}

#register-form input {
    padding: 15px;
    margin: 0 60px 18px 60px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: floralwhite;
}

#register-form input:focus {
    border: none;
    outline: #006238 solid 2px;
}

.register-form-btn {
    padding: 8px;
    margin: 15px 190px;
    width: 100px;
    border-radius: 5px;
    font-size: medium;
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    justify-content: center;
}

.register-form-btn:hover {
    cursor: pointer;
    background-color: #006238;
    border: 1px solid #006238;
    font-weight: bold;
}

#navigate-section-reg {
    padding: 0 0 0 110px;
    font-size: 18px;
}

.form-btn {
    color: seagreen;
    border: none;
    background-color: floralwhite;
    font-size: medium;
}

.form-btn:hover {
    cursor: pointer;
    color: #006238;
    text-decoration-line: underline;
}