#pageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

#innerContainerReg { 
    display: flex;
    max-width: 70vw;
    height: auto;
    /* height: 90vh; */
    box-shadow: 2px 2px 6px 2px lightgrey;
    border-radius: 1rem;
    background-color: floralwhite;
    /* margin: 3vh 15vw; */
    margin: auto;
}

#innerContainerReg img {
    width: auto;
    max-width: 35vw;
    /* max-height: 90vh; */
    height: auto;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

#register-title {
    color: #006238;
    letter-spacing: 0.15rem;
    font-size: x-large;
    text-align: center;
    text-decoration-line: underline;
}

.register-right-div {
    /* width: 35vw; */
    width: auto;
    min-width: 35vw;
    /* height: 80vh; */
    height: auto;
    max-height: 80vh;
    padding: 3rem 0;
    box-sizing: content-box;
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form label {
    padding: 0.75rem;
    margin-left: 3rem;
    font-size:medium;
    color: seagreen;
}

#register-form input {
    padding: 0.75rem;
    margin: 0 3.75rem;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid grey;
    background-color: floralwhite;
}

#register-form input:focus {
    border: none;
    outline: #006238 solid 2px;
}

.register-form-btn {
    padding: 0.5rem 1rem;
    margin: 1rem auto auto auto;
    border-radius: 5px;
    font-size: medium;
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    justify-content: center;
    letter-spacing: 0.1rem;
}

.register-form-btn:hover {
    cursor: pointer;
    background-color: #006238;
    border: 1px solid #006238;
    font-weight: bold;
}

#navigate-section-reg {
    margin: auto 4rem;
    font-size: medium;
}

.form-btn {
    color: seagreen;
    border: none;
    background-color: floralwhite;
    font-size: larger;
}

.form-btn:hover {
    cursor: pointer;
    color: #006238;
    text-decoration-line: underline;
}